<div>
  <div>
    <div class="filtro-top">
    <form class="busca">
      
        <input 
          type="text" 
          placeholder="{{textoBuscafiltro}}"
          (keyup)="sendToParent($event)"
          />
        <a class="button" (click) = "pesquisar()"></a>
      
    </form>
      <div class="slides-filtro">
        <div class="slider1">
          <p>Aplicação Mínima</p>
              <div class="slider" data-slider data-initial-start="0" data-step="8">
                <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput2"></span>
                <span class="slider-fill" data-slider-fill></span>
              </div>
              <input type="number" id="sliderOutput2">
          <p class="aviso">Até R$20.000,00</p>
        </div>
        <div class="slider2">
          <div class="legenda flex-container">
          <span class="flex-dir-row align-self-middle">
            <img src="assets/filtro-de-cor.jpg"/>
          </span></div>
      
        </div>
        <div class="slider3">
          <p>Prazo de resgate</p>
          <div class="slider" data-slider data-initial-start="50" data-end="200">
            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill></span>
            <input type="hidden">
          </div>
          <p class="aviso">Até 30 dias úteis</p>        
        </div>
      </div>

      <p class="horario">Horário limite de aplicação 12:00</p>
</div>
</div></div>