<div class="filtro-top">
    <form>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
              <label>
                <input type="text" placeholder="Buscar fundo por nome">
              </label>
              <button type="submit"><img></button>
            </div>
          </div>
        </div>
      </form>
      <div class="grid-x grid-margin-x">
        <div class="cell small-10">
          <div class="slider" data-slider data-initial-start="50">
            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1">_</span>
            <span class="slider-fill" data-slider-fill></span>
          </div>
        </div>
      </div>
      <p>Horário limite de aplicação 12:00</p>
</div>
