.filtro-top{
    background-color: white;
    padding: 3%;
    margin-top: 2%;
    padding-left: 1%;
    box-sizing: border-box;
}
.busca{
    display: flex;
    width: auto;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 60%;
    box-shadow: none;
}
a{
    background-image: url(icon_search.png);
    background-repeat: no-repeat;
    border: none;
    width: 10px;
    cursor: pointer;
    background-position: 0px 0px;
    height: 25px;
    padding-left: 20px;
    margin: 10px;
    background-color: transparent;
    
}
.slides-filtro{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    padding: 20px;
}
.slider1, .slider2, .slider3{
    width: 30%;
    display: inline-block;
    text-align: center;
}
img{
    margin-top: -15px;
}
.horario, .aviso{
    color: gray;
    font-size: small;

}
.slider-handle{
    border-radius: 50%;
    position: relative;
    background-color: white;
    border-color: black;
    border: 5px solid;
}
.slider{
    background-color: cornflowerblue;
}