<div class="filtro-top">
    <form class="busca">
      
        <input type="text" placeholder="Buscar fundo por nome">
        <a class="button"></a>
      
    </form>
      <div class="slides-filtro">
        <div class="slider1">
          <p>Aplicação Mínima</p>
          <div class="slider" data-slider data-initial-start="50" data-end="200">
            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill></span>
            <input type="hidden">
          </div>
          <p class="aviso">Até R$20.000,00</p>
        </div>
        <div class="slider2">
          <p>Perfil de risco do Fundo</p>
        </div>
        <div class="slider3">
          <p>Prazo de resgate</p>
          <div class="slider" data-slider data-initial-start="50" data-end="200">
            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
            <span class="slider-fill" data-slider-fill></span>
            <input type="hidden">
          </div>
          <p class="aviso">Até 30 dias úteis</p>        
        </div>
      </div>

      <p class="horario">Horário limite de aplicação 12:00</p>
</div>
