<ul class="accordion filtro-lateral" data-accordion data-allow-all-closed="true">
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Renda Fixa</a>
    <div class="accordion-content" data-tab-content >
      <input id="checkbox12" type="checkbox"><label for="checkbox12">Renda Fixa</label><br>
        <input id="checkbox22" type="checkbox"><label for="checkbox22">Indexado Soberano</label><br>
        <input id="checkbox32" type="checkbox"><label for="checkbox32">Renda Fixa Crédito Privado</label><br>
        <input id="checkbox32" type="checkbox"><label for="checkbox42">Crédito Privado Higth Yield</label><br>
        <input id="checkbox32" type="checkbox"><label for="checkbox52">Renda Fixa Inflação Soberano</label><br>
        <input id="checkbox32" type="checkbox"><label for="checkbox62">Inflação Crédito Privado</label>
    </div>
  </li>
</ul>