app-filtro-lateral{
    width: auto;
    float: right;
    background-color: white;
    box-sizing: border-box;
    margin-top: 6%;
}
.app{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

* {
    font-size: 12px;
}