<div class="app">
    
    <app-cabecalho></app-cabecalho>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-9">
                <app-filtro
                    [textoBuscafiltro]="textoBusca" 
                    (busca)="changeTextoBusca($event)" >
                </app-filtro>
                <app-investimentos 
                    [textBuscaInvestimentos]="textoBusca"
                    (busca)="changeTextoBusca($event)"
                    (listaFiltrada)="filtro()">
                </app-investimentos>
                <div class="cell small-3">
                    <app-legenda></app-legenda>
                </div>
            </div>
            <div class="cell small-3">
                <app-filtro-lateral></app-filtro-lateral>
            </div>
        </div>
    </div>
</div>