app-filtro-lateral{
    width: auto;
    float: right;
    background-color: white;
    padding: 2%;
    height: 40%;
    margin-right: 17%;
    margin-top: -11%;
}
.app{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}