<div class="investimento">
  <div class="tabela" >
  <table>
    <thead>
      <th>Fundo</th>
      <th></th>
      <th></th>
      <th>Data da cota</th>
      <th>Mês(%)</th>
      <th>2016(%)</th>
      <th>12M(%)</th>
      <th>Aplicação miníma(R$)</th>
      <th>Prazo do Resgate</th>
      <th>Aplicar</th>
    </thead>
    <tbody>
      <tr>Renda Fixa</tr>
      <tr>Indexado Soberano</tr>
      <tr *ngFor=" let investimento of listaDeInvestimentos">
        <td class={{investimento.risco}}>
          <H5>{{investimento.nome}}</H5>
          <p>{{investimento.tipo}} | {{investimento.descricao}}</p>
        </td>
        <td>
          <span
            data-tooltip class="top" tabindex="2"
            title="Fundo para investidor qualificado"
            *ngIf="investimento.qualificado == true" class="qualificado">  
            <p>----</p>
          </span>
        </td>
        <td>
          <span
            title="Você já investe nesse fundo."
            *ngIf="investimento.investidor == true" class="investidor"
            ><p>----</p></span>
        </td>
        <td>{{investimento.data}}</td>
        <td>{{investimento.mes}}</td>
        <td>{{investimento.ano}}</td>
        <td>{{investimento.M12}}</td>
        <td>{{investimento.aplicacao}}</td>
        <td>{{investimento.resgate}}</td>
        <td>
          <span
            *ngIf="investimento.aplicar == true" class="aplicar">  
            <p>----</p>
          </span>
          <span
            *ngIf="investimento.aplicar == false" class="desativar">  
            <p>----</p>
          </span>
        </td>
      </tr>
    </tbody>
   </table>

    </div>     
</div>
